<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>web.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>web.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentenServlet</servlet-name>
        <servlet-class>web.StudentenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LehrerServlet</servlet-name>
        <servlet-class>web.LehrerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentenServlet</servlet-name>
        <url-pattern>/StudentenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LehrerServlet</servlet-name>
        <url-pattern>/LehrerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
