<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>web.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>web.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentenServlet</servlet-name>
        <servlet-class>web.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LehrerServlet</servlet-name>
        <servlet-class>web.LehrerServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LehrerMenu</servlet-name>
        <servlet-class>web.LehrerMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LehrerSearchStudentServlet</servlet-name>
        <servlet-class>web.LehrerSearchStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LehrerSearchKursServlet</servlet-name>
        <servlet-class>web.LehrerSearchKursServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LehrerKursnoteEintragenServlet</servlet-name>
        <servlet-class>web.LehrerKursnoteEintragenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LehrerStudentEinschreibenServlet</servlet-name>
        <servlet-class>web.LehrerStudentEinschreibenServlet</servlet-class>
    </servlet><servlet>
        <servlet-name>LehrerStudentEinschreibenServlet</servlet-name>
        <servlet-class>web.LehrerStudentEinschreibenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentenServlet</servlet-name>
        <url-pattern>/StudentenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LehrerServlet</servlet-name>
        <url-pattern>/LehrerServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LehrerSearchStudentServlet</servlet-name>
        <url-pattern>/LehrerSearchStudentServlet</url-pattern>
    </servlet-mapping><servlet-mapping>
        <servlet-name>LehrerSearchStudentServlet</servlet-name>
        <url-pattern>/LehrerSearchStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LehrerSearchKursServlet</servlet-name>
        <url-pattern>/LehrerSearchKursServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LehrerKursnoteEintragenServlet</servlet-name>
        <url-pattern>/LehrerKursnoteEintragenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LehrerStudentEinschreibenServlet</servlet-name>
        <url-pattern>/LehrerStudentEinschreibenServlet</url-pattern>
    </servlet-mapping>
    </web-app>
